@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.form-control:invalid {
		@apply ring-2 ring-red-400;
	}
	.form-control:valid {
		@apply ring-2 ring-green-400;
	}
	.form-control {
		@apply p-2 rounded-sm text-gray-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-colors;
	}
	.card {
		@apply transition-all hover:bg-gray-100 hover:shadow-xl rounded-sm;
	}
}

.route-enter-from {
	opacity: 0;
	transform: translateY(-30px);
}
.route-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

.route-enter-active {
	transition: 0.2s ease-out;
}
.route-leave-active {
	transition: 0.2s ease-in;
}

.route-enter-to,
.route-leave-from {
	opacity: 1;
	transition: translateY(0);
}
